.card-panel {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);

  &__buy {
    padding: 9px 8px 7px 12px;
    letter-spacing: 4.5px;
  }

  &__compare {
    font-family: $openSans;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: 36px;

    transition: opacity 0.5s ease;
    letter-spacing: -0.2px;
    word-wrap: break-word;

    opacity: 0.5;
    color: $black;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.2;
    }
  }
}
