.conditions {
  padding-bottom: 69px;

  background-color: $lightgrey;
  background-image: linear-gradient($white 100px, $lightgrey 100px);

  &__title {
    margin: 0;
    margin-bottom: 27px;

    font-family: $gilroy;
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.2;

    letter-spacing: 1px;

    color: $black;
  }

  &__content {
    margin: 0;
    font-family: $openSans;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;

    letter-spacing: 0.23px;

    color: $grey;
  }
}
