.conditions-menu {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  &__link {
    font-family: $gilroy;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 2;

    transition: opacity 0.5s ease;
    letter-spacing: 3.5px;
    word-wrap: break-word;
    text-transform: uppercase;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
