.hot-offer {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  display: flex;
  opacity: 0.2;
  top: 29px;
  right: 26px;

  width: 60px;
  height: 60px;
  border: 2px solid $black;
  border-radius: 50%;

  span {
    margin: auto;
    font-family: $gilroy;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    line-height: 24px;

    text-transform: uppercase;
    word-wrap: break-word;

    color: $black;
  }
}
