.social {
  &__list {
    display: flex;
    flex-direction: row;

    width: 83.4%;
    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 23px;
  }

  &__link {
    display: block;

    width: 32px;
    height: 32px;

    border-radius: 50%;

    svg {
      transition: opacity 0.5s ease;

      opacity: 0.3;

      fill: $white;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &:active {
      svg {
        opacity: 0.1;
      }
    }
  }
}
