.user-menu {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin-right: 36px;
    padding-left: 26px;

    &:first-child {
      svg {
        left: -26px;
      }
    }
  }

  a {
    display: block;
    font-family: $openSans;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 19px;

    position: relative;

    letter-spacing: 0.2px;
    word-wrap: break-word;
    transition: opacity 0.5s ease;

    svg {
      position: absolute;
      bottom: 4px;
      left: -21px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
